<!DOCTYPE html>
<html lang="ko"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <head>  
    <title>Lab</title>   
  </head>
  <body>
<div layout:fragment="contents"> 	
<div class="page-header">
  <h1>Lab<small> - Test Page</small></h1>
</div>
 
<div class="panel panel-default top-pannel">
  <div class="panel-body">
    <p class="lead"> 테스트 용 프로젝트 리스트 입니다.</p>
  </div>
</div>
  
<div class="grid">
	<div class="grid-item article">
		<h3><strong>스크롤</strong></h3>			    					
		<p class="category"><strong>JS,CSS</strong></p>
		<img class="img-responsive" src="/image/portfolio/js.svg"/>	
		<h4><strong>링크</strong></h4>		
		<a class="btn btn-success btn-md btn-block" href="/apps/portfolio/test/1" target="_blank">테스트페이지</a>
		<h4><strong>설명</strong></h4>	
		<p>
			- 스크롤 높이에 따른 opacity 값 변환
			- dom 객체가 나타나거나 사라지는 효과
		</p>
	</div>
</div>	    		
</div>

<script layout:fragment="script">
//<![CDATA[
  $(document).ready(function(){
	  
	 
  });         
           
//]]>
</script>
</body>
</html>